/* SweetAlert custom styling */
.swal2-popup {
  border-radius: 16px !important;
  background: rgba(15, 15, 15, 0.95) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  padding: 1.5em !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) !important;
}

.swal2-title {
  color: #fff !important;
  font-weight: 600 !important;
}

.swal2-html-container {
  color: rgba(255, 255, 255, 0.8) !important;
}



.swal2-confirm {
  background: linear-gradient(135deg, #7a5af8, #7a5af8) !important;
  border-radius: 1rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.5px !important;
  padding: 10px 24px !important;
  /* box-shadow: 0 1px 5px #7a5af8 !important; */
}


.swal2-cancel {
  background: linear-gradient(135deg, #2C3E50, #4A5568) !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.5px !important;
  padding: 10px 24px !important;
}

.swal2-icon {
  border-color: #7a5af8 !important;
  color: #7a5af8 !important;
}